@import "tailwindcss";


:root {
    --color1: #222831;
    --color2: #353B45;
    --color3: #d9d9d9;
    --color4: #00adb5;
    --color5: #6b6b6b;

    --font: #eeeeee;

}


body {
  font-family: Arial, Helvetica, sans-serif;
}
